.task-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.due-date {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.task-counts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.task-item {
  display: flex;
  align-items: center;
}

.arrow {
  margin-right: 5px;
}

/* Ensure the chart is responsive */
p-chart {
  max-width: 100%;
  height: auto;
}
