.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.sign-in-card{
  width: 600px;
}

.button-group {
  display: flex;
  flex-direction: column;
}

