.sidebar {
  width: 250px;
  background-color: #2C3E50;
  color: white;
  position: fixed;
  top: 0;
  left: -250px; /* Initially hidden */
  height: 100%;
  transition: left 0.3s ease;
  padding: 20px;
  z-index: 999; /* Ensure it overlays other elements */
}

.sidebar.open {
  left: 0; /* Show when open */
}

.menu{
  cursor: pointer;
  list-style: none;
}

.menu li{
  margin-top: 10px;
}


