<div class="task-list">

  <!-- Filters Section -->
  <div class="row mb-3">
    <div class="col-12 col-md-4 mb-2">
      <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText" />
    </div>
    <div class="col-12 col-md-4 mb-2">
      <select class="form-select" [(ngModel)]="selectedStatus">
        <option value="">All Statuses</option>
        <option value="Pending">Pending</option>
        <option value="Completed">Completed</option>
      </select>
    </div>
    <div class="col-12 col-md-4 mb-2">
      <div class="calendar-container">


    <p-calendar placeholder="Select due date..." [(ngModel)]="dueDateFilter"
        [showButtonBar]="true" [showIcon]="true" [iconDisplay]="'input'"
    />

      </div>
    </div>
    <div class="col-12 col-md-4 mb-2">
      <button class="create-task">New</button>
    </div>
    <div class="col-12 col-md-4 mb-2">
      <button class="create-task">Export</button>
    </div>
    <div class="col-12 col-md-4 mb-2">
      <button class="create-task">Import</button>
    </div>
  </div>
  <!-- Task Cards -->
  <div  *ngFor="let task of tasks" class="task-card">
    <p-card>
      <div>
        <p class="fw-bold fs-5">{{ task.title }}<p>
        <p class="fw-bold" [ngStyle]="{ color: task.status === 'Pending' ? 'red' : 'green' }">
          {{ task.status }}
        </p>
        <p class="fw-bold" [ngStyle]="{ color: 'red' }">
          Due : {{ task.dueDate | date }}
        </p>
      </div>

     <!-- Ellipsis Menu -->
     <div class="ellipsis" (click)="toggleActions(task, $event)">
      &#8230;
    </div>

      <!-- Actions Section -->
      <div *ngIf="task.showActions" class="actions">
        <div *ngIf="task.status != 'Completed'" class="action-item">
          <button (click)="markAsCompleted(task)">Mark as Completed</button>
        </div>
        <div class="action-item">
          <button (click)="viewTask(task)">View</button>
        </div>
        <div class="action-item">
          <button (click)="removeTask(task)" style="color: red;">Remove</button>
        </div>
      </div>

    </p-card>
  </div>
</div>
